html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

body{
    background-image: url("img/wheat.png");
    font-family: Calibri, sans-serif;
    color: #352d1e;
}
a{
    color: #352d1e;
    display: block;
    text-decoration: none;
}
h1{
    font-size: 40px;
    margin: 15px 10px;
}
h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    margin: 15px 10px;
}
p{
    margin: 10px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
iframe{
    margin: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table, td, th{
    padding: 5px;
    text-align: center;
    border: 1px solid #352d1e;
    margin: auto auto 10px;
}
input[type=text],
input[type=password]{
    width: 300px;
    background-color: #eed7be;
    color: #82734d;
    border: 2px solid #ab9b6c;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}
input[type=text]:focus,
input[type=password]:focus{
    border: 2px solid #b0926c;
    background-color: #eddbcc;
    color: #322a1b;
}
input[type=submit]
{
    width: 300px;
    background-color: #3f3726;
    font-size:20px;
    color: #eed7be;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:hover
{
    background-color: #322a1b;
}

@media (min-width: 1100px) {
    #title{
        font-size: 50px;
    }
    #container{
        width: 1050px;
    }
    #sidebar{
        width: 210px;
        padding: 20px;
    }
    #sidebar > ul > li{
        padding: 10px 5px 5px;
    }
    #content{
        width: 718px;
        border-left: 2px dotted #666666;
        padding: 40px;
        font-size: 22px;
    }
    iframe{
        width: 560px;
        height: 315px;
    }
}
@media (max-width: 1100px) and (min-width: 1000px){
    #title{
        font-size: 50px;
    }
    #container{
        width: 950px;
    }
    #sidebar{
        width: 210px;
        padding: 20px;
    }
    #sidebar > ul > li{
        padding: 10px 5px 5px;
    }
    #content{
        width: 618px;
        border-left: 2px dotted #666666;
        padding: 40px;
        font-size: 22px;
    }
    iframe{
        width: 560px;
        height: 315px;
    }
}
@media (max-width: 1000px) and (min-width: 800px){
    #title{
        font-size: 50px;
    }
    #container{
        width: 750px;
    }
    #sidebar{
        width: 210px;
        padding: 20px;
    }
    #sidebar > ul > li{
        padding: 10px 5px 5px;
    }
    #content{
        width: 418px;
        border-left: 2px dotted #666666;
        padding: 40px;
        font-size: 22px;
    }
    iframe{
        width: 392px;
        height: 220px;
    }
}
@media (max-width: 800px){
    #title{
        font-size: 40px;
    }
    #container{
        width: 90%;
    }
    #sidebar{
        width: 94%;
        padding: 3% 3% 0;
    }
    #sidebar > ul > li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #content{
        width: 96%;
        padding: 2%;
        font-size: 17px;
    }
    .gallery:hover{
        transform: scale(1.05);
    }
    iframe{
        width: 296px;
        height: 166px;
    }
}

#formularz{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#container{
    background: #dcbe96;
    margin-left: auto;
    margin-right: auto;
}
#title > a{
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Asul', sans-serif;
    background: #2f4261;
    color: peru;

}
#sidebar{
    float: left;
    height: 100%;
}
#sidebar > ul > li{
    font-size: 22px;
    height: 32px;
    border-bottom: 2px dotted #444444;
}
#sidebar > ul > li:hover
{
    background-color: #b0926c;
    cursor: pointer;
}
#content{
    background: #cdaf87;
    float: left;
    min-height: 580px;
    text-align: justify;
}
#content > ul > li{
    list-style-type: circle;
    margin: 5px 35px;
}
footer{
    clear: both;
    text-align: center;
    color: #e9a13f;
    padding: 20px;
    font-size: 18px;
    background: #2f4261;
}
.icon{
    background-image: url('img/sprite.png');
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
}
.im-formularz{
    background-position-x: 0;
}
.im-galeria{
    background-position-x: 128px;
}
.im-funny{
    background-position-x: 96px;
}
.im-dodatki{
    background-position-x: 64px;
}
.im-klasy{
    background-position-x: 32px;
}
.gallery{
    float: left;
    width: 302px;
    height: 169px;
    margin: 16px 16px 56px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(53,45,30,1);
    -moz-box-shadow: 2px 2px 2px 2px rgba(53,45,30,1);
    box-shadow: 2px 3px 2px 2px rgba(53,45,30,1);
}