html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

body{
    background-image: url("img/wheat.png");
    font-family: Calibri, sans-serif;
    color: #352d1e;
}
a{
    color: #352d1e;
    display: block;
    text-decoration: none;
}
h1{
    font-size: 40px;
    margin: 15px 10px;
}
h3{
    font-size: 30px;
    margin: 15px 10px;
}
p{
    margin: 10px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
iframe{
    margin: 20px;
}
#container{
    background: #dcbe96;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#title > a{
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
    font-family: 'Asul', sans-serif;
    background: #2f4261;
    color: peru;

}
#sidebar{
    float: left;
    width: 210px;
    height: 100%;
    padding: 20px;
}
#sidebar > ul > li{
    font-size: 22px;
    height: 32px;
    padding: 10px 5px 5px;
    border-bottom: 2px dotted #444444;
}
#sidebar > ul > li:hover
{
    background-color: #b0926c;
    cursor: pointer;
}
#content{
    background: #cdaf87;
    float: left;
    padding: 40px;
    width: 668px;
    min-height: 580px;
    text-align: justify;
    font-size: 22px;
    border-left: 2px dotted #666666;
}
#content > ul > li{
    list-style-type: circle;
    margin: 5px 35px;
}
footer{
    clear: both;
    text-align: center;
    color: #e9a13f;
    padding: 20px;
    font-size: 18px;
    background: #2f4261;
}
.icon{
    background-image: url('img/sprite.png');
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
}
.im-talie{
    background-position-x: 0;
}
.im-galeria{
    background-position-x: 128px;
}
.im-funny{
    background-position-x: 96px;
}
.im-dodatki{
    background-position-x: 64px;
}
.im-klasy{
    background-position-x: 32px;
}
.gallery{
    float: left;
    width: 302px;
    height: 169px;
    margin: 16px 16px 56px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(53,45,30,1);
    -moz-box-shadow: 2px 2px 2px 2px rgba(53,45,30,1);
    box-shadow: 2px 3px 2px 2px rgba(53,45,30,1);
}
.gallery:hover{
    transform: scale(1.15);
}